mixin demo(name)
  - var path = namespace ? namespace : ''
  - var html = readDemo(`${path}/${name}`)
  if html
    .switcher
      .t-sm.mb-sm.t-gray Demo:
      .mt-sm.mb!= html
      .t-sm.mb-sm.t-gray Code:
      pre.mt-sm.muted: code.p.html= html

mixin section(id, title)
  hr(id=id)
  h3: a.t-secondary.link-reset(href=`#${id}`)= title
  block
  +demo(id)
